.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}

.navbar + .jumbotron {
  margin-top: -20px; 
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}

.jumbotron .lang-logo img {
  max-width: 100%; 
}

body {
  text-align: center;
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}

.relative-fonts {
  font-size:2.2vw;
}

/*  fontSize: */
.xs   {font-size: 0.75rem}
.sm   {font-size: 0.875rem}
.base {font-size: 1rem}
.lg   {font-size: 1.125rem}
.xl   {font-size: 1.25rem}
.xl2  {font-size: 1.5rem}
.xl3  {font-size: 1.875rem}
.xl4  {font-size: 2.25rem}
.xl5  {font-size: 3rem}
.xl6  {font-size: 4rem}
.fs1  {font-size: 1vw}
.fs2  {font-size: 1.4vw}
.fs3  {font-size: 1.6vw}
.fs4  {font-size: 1.8vw}
.fs5  {font-size: 2vw}
.fs6  {font-size: 2.2vw}
.fs7  {font-size: 2.4vw}
.fs8  {font-size: 2.6vw}

.bold {
  font-weight: bold;
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: rgb(86 86 86 / 50%);
}